header {
    position: relative;
    text-align:center;
}

.xbox_logo {
    background-image:url("/images/Xbox-Live-on-Android-iOS.jpg");
    background-size: contain;
    height: 10vh;
    width: 10vh;
    position: absolute;
    right:0;
    top:0;
    background-repeat: no-repeat;

}

.alien_logo {
    background-image:url("/images/Alienware-Logo.jpg");
    background-size:contain;
    height: 10vh;
    width: 10vw;
    background-repeat: no-repeat;
    display:inline-block;   

}

.Ps4_logo {
    background-image:url("/images/PS4-replacement.png");
    background-size: contain;
    height: 10vh;
    width:10vw;
    background-repeat: no-repeat;
    position:absolute;
    top:0;
    left:0;

}

h1 {
    color: grey;
    
}

.versus_one {
    position:absolute;
    right: 19rem;
    top:2rem;
}

.versus_two {
    position:absolute;
    left: 19rem;
    top:2rem;
}

.signup {
    position: absolute;
    left:0;
    top: 4.5rem;
    font-size: 1.5rem;
    color: green;
    text-decoration: none;

}

.about_us {
    position: absolute;
    right:0;
    top: 4.5rem;
    font-size: 1.5rem;
    color: green;
    text-decoration: none;

}

.option {
    font-size: 2rem;
    color:grey;
    text-align: center;
}

.option:after {
    content:"";
    height: 1rem;
    width: 1rem;
    background: red;
}

