.main_grid {
    display: grid;
    grid-template-columns: 600px 600px 600px;
    padding-top: 5em;
    grid-gap: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-items: center;
    max-width: 2000px;
    margin: 0 auto;
    justify-content: center;
}

.bg-img1 {
    background-image: url("/images/PUBG_Mobile.0.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    height: 600px;
    width: 600px
}

.bg-img2 {
    background-image: url("/images/200x120_Assassins_Creed_Black_Flag.jpeg");
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    height: 600px;
    width: 600px
}

.bg-img3 {
    background-image: url("/images/ghost\ replacement.jpeg");
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    height: 600px;
    width: 600px
}

.bg-img4 {
    background-image: url("/images/2k20\ forreal.jpeg");
    height: 75vh;
    background-position: top;
    background-size:cover;
    background-repeat: no-repeat;
    position:relative;
    height: 600px;
    width: 600px
}

.bg-img5 {
    background-image: url("/images/the-elder-scrolls-v-skyrim.jpg");
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    height: 600px;
    width: 600px
}

.bg-img6 {
    background-image: url("/images/madden20.jpg");
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    height: 600px;
    width: 600px
}

.bg-img7 {
    background-image: url("/images/DAOC.jpg");
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    height: 600px;
    width: 600px
}

.bg-img8 {
    background-image: url("/images/CounterStrike2.png");
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    height: 600px;
    width: 600px
}

.bg-img9 {
    background-image: url("/images/Grand\ Theft\ Auto\ V.jpg");
    height:75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    height: 600px;
    width: 600px
}

.bg-img10 {
    background-image: url("/images/WOW.jpg");
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    height: 600px;
    width: 600px
}

.bg-img11 {
    background-image: url("/images/2k20\ forreal.jpeg");
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    height: 600px;
    width: 600px
}

.bg-img12 {
    background-image: url("/images/PUBG_Mobile.0.jpg");
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    height: 600px;
    width: 600px
}

.overlay:hover {
    background: rgba(0, 0, 0, 0.5);
}

.overlay {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    transition: .5s;
}

.name {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
}

.price {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
}

@media only screen and (max-width: 2000px) {

    .main_grid {
        grid-template-columns: 600px 600px;
        justify-content: center;
    }
}

@media only screen and (max-width: 1225px) {
    .main_grid {
        grid-template-columns: 600px;
    }
}


@media only screen and (max-width: 700px) {
    .main_grid {
        grid-template-columns: 300px;
    }

    .bg-img1 {
        height: 300px;
        width: 300px
    }
    
    .bg-img2 {
        height: 300px;
        width: 300px
    }
    
    .bg-img3 {
        height: 300px;
        width: 300px
    }
    
    .bg-img4 {
        height: 300px;
        width: 300px
    }
    
    .bg-img5 {
        height: 300px;
        width: 300px
    }
    
    .bg-img6 {
        height: 300px;
        width: 300px
    }
    
    .bg-img7 {
        height: 300px;
        width: 300px
    }
    
    .bg-img8 {
        height: 300px;
        width: 300px
    }
    
    .bg-img9 {
        height: 300px;
        width: 300px
    }
    
    .bg-img10 {
        height: 300px;
        width: 300px
    }
    
    .bg-img11 {
        height: 300px;
        width: 300px
    }
    
    .bg-img12 {
        height: 300px;
        width: 300px
    }
}